# Ignore all
*

# Whitelist file
!.gitignore

# Whitelist code & git files
!*.py
!.gitignore
!.gitmodules

# Whitelist folders and modules
!relax/
!relax/*.py

!relax/autodiff_potentials/
!relax/autodiff_potentials/*.py

!relax/analytic_potentials
!relax/analytic_potentials/*.p*
!relax/analytic_potentials/coulomb/
!relax/analytic_potentials/coulomb/*.p*
!relax/analytic_potentials/buckingham/
!relax/analytic_potentials/coubuckinghamlomb/*.p*

!relax/optim/
!relax/optim/*.py
!relax/optim/cubic_minimization/
!relax/optim/cubic_minimization/*

# Whitelist README
!README.txt
!README.md

# Whitelist environment requirements
!requirements.txt

